@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf) format('truetype');
}

body {
    background-color: #1F4564;
    margin: 0px;
    font-family: 'Roboto';
}

header {
    background-color: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.logo {
    cursor: pointer;
}

